<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="static/mqtt.min.js"></script>

<script>
    var interval = 60000;
    function doAjax() {
        $.ajax({
                url: '/upcheck',
                success: function (data) {
                    if (data == 'up') {
                        $('#status-indicator').html('Status: <span class="dpow-good">Online</span>');
                    }
                    else {
                        $('#status-indicator').html('Status: <span class="dpow-bad">Offline</span>');
                    }
                },
                complete: function (data) {
                    // Schedule the next
                    setTimeout(doAjax, interval);
                }
        });
    }
    $(document).ready(doAjax());
    setTimeout(doAjax, interval);
</script>

<script>
$(document).ready(function() {
  var pagelength = 10;
  var service_pageIndex = 1;
  var client_pageIndex = 1;
  var client_length = $('.client_tr').length
  var service_length = $('.service_tr').length
  var load_time = Math.round((new Date()).getTime() / 1000);
  // setTimeout(fetchdata(load_time), 5000);
  if(client_length <= pagelength){
    $('#loadMoreClients').hide()
  }
  if(service_length <= pagelength){
    $('#loadMoreServices').hide()
  }
  //hide all tr greater than page length
  $('.service_tr').slice(pagelength).hide();
  $('.client_tr').slice(pagelength).hide();
  $("#loadMoreServices").click(function(){
    if(service_length > ((service_pageIndex * pagelength))){
      var itemsCount = ((service_pageIndex * pagelength) + pagelength);
      $('.service_tr').slice(0, itemsCount).show();
      service_pageIndex++;
      if(service_length < (service_pageIndex * pagelength)){
        $('#loadMoreServices').text("Minimize");
      }
    } else {
      $('.service_tr').slice(pagelength).hide();
      service_pageIndex = 1;
      $('#loadMoreServices').text('Load More ...');
    }
  });
  $("#loadMoreClients").click(function(){
    if(client_length > ((client_pageIndex * pagelength))){
      var itemsCount = ((client_pageIndex * pagelength) + pagelength);
      $('.client_tr').slice(0, itemsCount).show();
      client_pageIndex++;
      if(client_length < (client_pageIndex * pagelength)){
        $('#loadMoreClients').text("Minimize");
      }
    } else {
      $('.client_tr').slice(pagelength).hide();
      client_pageIndex = 1;
      $('#loadMoreClients').text("Load More ...");
    }
  });
  $("#avgDay").click(function(){
    if(!$(this).hasClass("avgPowButtonActive")){
      $(this).addClass("avgPowButtonActive");
      if($("#avgHour").hasClass("avgPowButtonActive")){
        $("#avgHour").removeClass("avgPowButtonActive");
        $("#avgHour").addClass("avgPowButton");
      }
      else if($("#avgMin").hasClass("avgPowButtonActive")){
        $("#avgMin").removeClass("avgPowButtonActive");
        $("#avgMin").addClass("avgPowButton");
      }
      avgPowChart.data.datasets[0].data = day_data;
      avgPowChart.data.datasets[1].data = day_precache_table;
      avgPowChart.data.datasets[2].data = day_ondemand_table;
      $("#avgRequests").text({{requests_avg}});
      avgPowChart.options.scales.xAxes = [{
                    type:       "time",
                    distribution: 'series',
                    time:       {
                        format: timeFormat,
                        tooltipFormat: dayToolTip,
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }];
      avgPowChart.update();
    }
  });
  $("#avgHour").click(function(){
    if(!$(this).hasClass("avgPowButtonActive")){
      $(this).addClass("avgPowButtonActive");
      if($("#avgDay").hasClass("avgPowButtonActive")){
        $("#avgDay").removeClass("avgPowButtonActive");
        $("#avgDay").addClass("avgPowButton");
      }
      else if($("#avgMin").hasClass("avgPowButtonActive")){
        $("#avgMin").removeClass("avgPowButtonActive");
        $("#avgMin").addClass("avgPowButton");
      }
      avgPowChart.data.datasets[0].data = hour_data;
      avgPowChart.data.datasets[1].data = hour_precache_table;
      avgPowChart.data.datasets[2].data = hour_ondemand_table;
      $("#avgRequests").text({{requests_avg_hour}});
      avgPowChart.options.scales.xAxes = [{
                    type:       "time",
                    distribution: 'series',
                    time:       {
                        format: timeFormat,
                        tooltipFormat: hourToolTip,
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }];
      avgPowChart.update();
    }
  });
  $("#avgMin").click(function(){
    if(!$(this).hasClass("avgPowButtonActive")){
      $(this).addClass("avgPowButtonActive");
      if($("#avgDay").hasClass("avgPowButtonActive")){
        $("#avgDay").removeClass("avgPowButtonActive");
        $("#avgDay").addClass("avgPowButton");
      }
      else if($("#avgHour").hasClass("avgPowButtonActive")){
        $("#avgHour").removeClass("avgPowButtonActive");
        $("#avgHour").addClass("avgPowButton");
      }
      avgPowChart.data.datasets[0].data = minute_data;
      avgPowChart.data.datasets[1].data = minute_precache_table;
      avgPowChart.data.datasets[2].data = minute_ondemand_table;
      $("#avgRequests").text({{requests_avg_min}});
      avgPowChart.options.scales.xAxes = [{
                    type:       "time",
                    distribution: 'series',
                    time:       {
                        format: timeFormat,
                        tooltipFormat: minuteToolTip,
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }];
      avgPowChart.update();
    }
  });
});
/* function fetchdata(load_time) {
    $.ajax({
        url: "https://distributedpow.tk/get_updates",
        type: "get",
        data: { load_time: load_time },
        dataType: "json",
        success: function(data){
            pow_count = data.pow_count;
            document.getElementById("pow_count").innerHTML = pow_count;
            //on_demand_ratio = updated_on_demand_ratio;
            //precache_ratio = updated_precache_ratio;
            //alert(response_data.pow_count);
        },
        complete: function(data){
            setTimeout(fetchdata(load_time), 5000);
        }
    });
} */

var work_timing = [];

var wsChart = new Chart(document.getElementById('wsChart'), {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      label: 'Response Time',
      data: {{live_chart_prefill}},
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  },
  options: {
    tooltips: {
        intersect: false,
        mode: 'index'
    },
    responsive: true,
    scales: {
      xAxes: [{
        display: false
      }],
      yAxes: [{
        display: true,
        ticks: {
          beginAtZero: true
        },
        scaleLabel: {
          display: true,
          labelString: 'Time in Seconds'
        }
      }]
    }
  }
});

for (let i = 25; i > 0; i--) {
  wsChart.data.labels.push('')
  /*wsChart.data.datasets.forEach((dataset) => {
      dataset.data.push(0);
  });*/
  wsChart.update();
}

var work_map = new Map();

var client = mqtt.connect('mqtts://client:client@dpow.nanocenter.org/mqtt/')
client.on("connect", function () {
    console.log('MQTT connected')

    initMqtt();
});

client.on("error", function (error) {
  alert('MQTT error:', error)
  console.log('MQTT error:', error)
});

function initMqtt(){
  // subscribe to all necessary channels
  client.subscribe([
    'work/#',
    'client/#'
  ]);

  client.on("message", function (topic, payload) {
    // force string type
    payload = payload + '';

    // to get the subtopics
    var topic_split = topic.split('/');
    var message_type = topic_split[0];
    var date = new Date();
    var timestamp = date.getTime();

    if (message_type == 'work') {
      var splits = payload.split(',');

      var block_hash = splits[0];
      work_map.set(block_hash, timestamp);
    } else if (message_type == 'client') {
      var obj = JSON.parse(payload);
      var overall_pow = parseInt($("#pow_count").text());
      var pow_24hr = parseInt($("#pow_24hr").text());

      var block_hash = obj.block_rewarded;
      if (!work_map.has(block_hash)) {
        console.log('result without logging request: ' + block_hash);
        return;
      }

      var req_time = work_map.get(block_hash);

      var ms_diff = Math.abs(req_time - timestamp);
      var second_diff = ms_diff / 1000;
      second_diff = second_diff.toFixed(3);

      if (pow_24hr == -1) {
        $("#pow_24hr").removeClass("dpow-bad");
        $("#pow_24hr").addClass("dpow-none");
      } else if (overall_pow == 0) {
        $("#pow_24hr").removeClass("dpow-none");
        $("#pow_24hr").addClass("dpow-good");
      }

      overall_pow++;
      pow_24hr++;

      $("#pow_count").text(overall_pow);
      $("#pow_24hr").text(pow_24hr);

      wsChart.data.datasets[0].data.push(second_diff)

      if (wsChart.data.datasets[0].data.length > 25) {
        wsChart.data.datasets[0].data.shift();
      }

      wsChart.update();

      work_map.delete(block_hash);
    } else {
      console.log('unknown topic: ', topic, payload);
    }
  });
}
</script>

<script>
    window.scrollTo(0, 0);
</script>